applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

body {
    background: #FFFFFF;
    color: #333333;
    font-family: sans-serif;
    font-size: 100%;
}

a:link, a:visited {
    color: #ce0000;
    outline: medium none;
    text-decoration: none;
}

a:hover {
    color: #ce0000;
    text-decoration: underline;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

#mdk-body {
    width: 100%;
    text-align: left;
    background: #fff !important;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.channel-section {
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 999999;
    background: #fff none repeat scroll 0 0;
}

.navbar-channel {
    background: #f9f9f9;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    width: 100%;
}

.middle-channel {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.title-channel {
    font-size: 13px;
    line-height: normal;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #333;
    padding: 0 15px;
    font-weight: normal;
}

.click-channel {
    width: 50px;
    text-align: center;
}

.list-channelbar {
    padding: 0 5px;
    margin: 0;
    list-style: none;
}

.list-channelbar>li {
    float: left;
    width: 45%;
    padding: 0 5px;
    position: relative !important;
}

.list-channelbar>li a {
    border-bottom: 1px solid #f0f0f0;
    color: #333;
    display: table-cell;
    height: 50px;
    width: 1%;
    vertical-align: middle;
    padding: 0 5px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    padding-right: 16px;
    text-decoration: none;
}

.list-channelbar>li.active a, .list-channelbar>li a:hover {
    font-family: 'LatoBold', sans-serif;
}

.list-channelbar>li a:after {
    background: url(https://cdns.klimg.com/merdeka.com/media/i/a/channel-m-arrow_right.png) no-repeat;
    width: 6px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    content: "";
    background-position: -1px -1px;
    background-size: 6px 12px;
}

.logo-channel {
    margin: 20px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.click-channel.collapsed .icon-channel, .click-channel .close-channel {
    display: none;
}

.click-channel .icon-channel, .click-channel.collapsed .close-channel {
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .list-channelbar>li {
        width: 24%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.collapse {
    display: none;
}

.input-group {
    display: table;
}

.input-group .form-control, .input-group .input-group-btn {
    display: table-cell;
    vertical-align: middle;
}

.input-group .input-group-btn {
    width: 1%;
}

.input-group .form-control {
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
}

div.mdk-top-hl-item, #mdk-footers {
    margin-top: 0 !important;
}

#mdk-to-top {
    border: 0 !important;
}

#mdk-to-top span {
    background-position: 97% 0 !important;
}

#mdk-sitemap li a {
    position: relative;
}

#mdk-sitemap li a:after {
    background: url(https://cdns.klimg.com/merdeka.com/media/i/a/channel-m-arrow_right.png) no-repeat;
    width: 7px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    content: "";
    background-size: 6px 12px;
}

.channel-section {
    border-bottom: 0;
    margin-top: 5px;
}

.navbar-channel {
    border-top: 1px solid #d8d8d8;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar-menu, .navbar-search {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
}

.navbar-search {
    top: 0;
}

.navbar-search .navbar-form {
    padding: 0px 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
}

.navbar-search .input-group {
    border-bottom: 1px solid #ececec;
}

.navbar-search .form-control {
    height: 50px;
    font-size: 15px;
    color: #000;
}

.navbar-search .btn {
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    height: 50px;
    color: #fff;
}

.navbar-search .btn {
    padding-right: 10px;
}

.navbar-search .close-search {
    padding-left: 10px;
}

.nav>li a {
    font-size: 18px;
    color: #252525;
    padding: 10px 15px;
    position: relative;
    display: block;
    transition: all 0.5s ease;
    border-top: 1px solid #ececec;
}

.nav>li a:hover, .nav>li.active a {
    color: #ce0000;
    background: none;
}

.nav li.close-main-menu a {
    background: #4b4b4b;
    color: #fff;
    text-align: center;
    border: 0;
}

.btn-main-menu:after {
    background: #fff;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    content: "";
}

.navbar-toggle .icon-menu {
    display: none;
}

.btn-main-menu.collapsed:after {
    background: none;
}

.tag-berita *, .tag-berita *:after, .tag-berita *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tag-berita {
    padding: 15px 0;
}

.tag-berita a {
    padding: 5px 15px;
    padding-left: 28px;
    width: 50%;
    float: left;
    color: #656565;
    font-family: "palanquin";
    font-size: 11px;
    text-decoration: none;
    position: relative;
}

.tag-berita a:after {
    background: url(https://cdns.klimg.com/merdeka.com/media/i/a/play-arrow.png) no-repeat;
    background-size: 8px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    content: "";
    left: 15px;
}

@media (min-width: 768px) {
    .tag-berita {
        text-align: center;
    }

    .tag-berita a {
        float: none;
        width: auto;
        display: inline-block;
        vertical-align: middle;
    }
}

.title-mdk-index {
    font-weight: 600;
    font-size: 21px;
    margin: 10px 15px;
    margin-top: 20px;
    display: block;
    color: #ce0000;
    font-family: 'Open Sans';
}

.cover-mdk {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border: 0;
}

.cover-mdk-large {
    height: 500px;
}

.navbar.cover-mdk .logo-normal, .navbar.cover-mdk .icon-menu, .navbar.cover-mdk .icon-search {
    display: none;
}

.navbar.cover-mdk .logo-white, .navbar.cover-mdk .navbar-toggle.collapsed .icon-menu-cov, .navbar.cover-mdk .navbar-toggle.collapsed .icon-search-cov {
    display: block;
}

.cover-mdk .navbar-header .navbar-toggle.collapsed {
    background: none;
    outline: none;
}

.cover-mdk .navbar-header .navbar-toggle {
    border: 0;
}

.cover-mdk:after {
    background: url('https://cdns.klimg.com/merdeka.com/media/i/a/bg-gradient-overlay-atas-b.png');
    top: 0;
}

.cover-mdk:before {
    background-image: url('https://cdns.klimg.com/merdeka.com/media/i/a/bg-gradient-overlaybawah-b.png');
    bottom: 0;
}

.cover-mdk:after, .cover-mdk:before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.cover-mdk .detail-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.cover-mdk .detail-cover .text-cover {
    color: #ffffff;
    font-family: 'palanquin';
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.cover-mdk .detail-cover .info-cover {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.cover-mdk .link-cov-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.slot-youtubev2 {
    margin: 20px 0 0px 0;
}

#detail_news .slot-youtubev2, .detail-v3 .slot-youtubev2 {
    margin: 20px -10px -15px -10px;
}

.navbar-toggle.pull-left, .navbar-toggle.pull-right {
    border: 0;
}

.navbar-menu {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 99999999;
}

.nav {
    margin-bottom: 55px;
}

.nav li {
    float: left;
    width: 50%;
}

.nav>li a {
    font-size: 16px;
    color: #000;
    padding: 15px;
    padding-left: 25px;
}

.nav>li a:after {
    background: url(https://cdns.klimg.com/merdeka.com/media/i/a/bullet-merah.png) no-repeat;
    width: 5px;
    height: 7px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -4px;
    content: "";
}

.nav>li.submenu-info, .nav>li.close-main-menu, .nav>li.logo-nav {
    width: 100%;
}

.nav>li.logo-nav a {
    border: 0;
    padding: 0;
    display: table;
    margin: 10px auto;
}

.nav>li.submenu-info {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 20px;
}

.nav>li.submenu-info h6 {
    margin: 10px 15px;
    font-size: 18px;
    color: #ce0000;
    font-weight: normal;
    line-height: normal;
}

.nav>li.submenu-info .list-submenu-info>li a {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav li.close-main-menu {
    z-index: 99999;
    position: fixed;
    bottom: -100%;
    -moz-transition: abottom 0.5s eas;
    -o-transition: bottom 0.5s eas;
    -webkit-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}

#nav-top.open .nav li.close-main-menu {
    bottom: 0;
    margin-bottom: 0px;
}

.nav li.close-main-menu a {
    background: #ce0000;
    padding: 0 15px;
    font-size: 18px;
    height: 55px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    overflow: hidden;
}

.btn-main-menu::after, .nav>li.close-main-menu a:after, .nav>li.logo-nav a:after {
    display: none;
}

.overflow {
    overflow: hidden;
    height: 100%;
    margin: 0 !important;
}

#div-gpt-ad-merdeka-topfrm-oop.active, #branch-banner-iframe.active {
    z-index: 100;
    display: none;
}

.navbar-search .close-search {
    display: block;
}

x:-o-prefocus, .navbar-menu {
    position: absolute;
    bottom: auto;
}

x:-o-prefocus, .nav li.close-main-menu {
    position: static;
}

x:-o-prefocus, .nav {
    margin: 0;
}

.navbar-menu .nav {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: auto;
    margin-bottom: 0
}

.navbar-menu--header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 15px;
}

.navbar-menu--header-close {
    margin-right: -15px;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu--footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}

.navbar-menu--footer a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
}

#detail_news .mdk-body-paragraph h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
}

#detail_news .mdk-body-paragraph h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
}

#detail_news .mdk-body-paragraph img {
    width: 100%;
}

#detail_news .mdk-body-paragraph .imagecontent {
    padding: 0 10px;
}

div.imageinfo span {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #777;
    padding: 0 10px;
}

.fb_reset, .fb_reset div, .fb_reset iframe[style] {
    width: 100% !important;
    overflow: auto !important;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
    width: 100% !important;
}

.mdk-body-paragraph .paragraph-more a {
    display: table;
    margin: 20px auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    border-radius: 10px;
    padding: 10px 20px;
    line-height: 1.4em;
    background: #db0303;
    text-decoration: none;
}

.iframevidio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#detail_news em {
    word-break: break-word;
}

#detail_news .mdk-body-paragraph h2, h3, h4 {
    margin-top: 37px;
    padding: 0px 10px;
}

.mdk-body-paragraph ul {
    list-style-type: disc !important;
    margin: 0 0 0 30px;
}

.mdk-body-paragraph ol {
    list-style-type: decimal !important;
    margin: 0 0 0 30px;
}

.mdk-body-paragraph ol, ul li:last-child {
    margin-bottom: 20px;
}

.imginfo {
    display: block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: -15px;
    font-style: normal;
    line-height: 1.5em;
}

#detail_news .mdk-body-paragraph .detail-img {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

#detail_news .mdk-body-paragraph .detail-img .copyright {
    color: #777777;
    font-size: 12px;
    padding: 5px 15px;
    padding-bottom: 0;
    line-height: normal;
    display: block;
}

#detail_news .detail-body__break {
    position: relative;
    margin-top: 30px;
    text-align: center;
}

#detail_news .detail-body__break::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    background-color: #ececec;
}

#detail_news .detail-body__break>small {
    position: relative;
    font-size: 12px;
    color: #636363;
    background-color: #ffffff;
    padding: 0 10px;
}

.mdk-body-paragraph figure {
    margin: 0px 10px;
}

.mdk-body-paragraph figure figcaption {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #777;
    line-height: 1.5em;
}

#detail_news .other-photo {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
    background: rgba(205, 32, 39, 0.8);
    font-family: 'Noto Sans', sans-serif;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait) {
    .banner-lb {
        margin: 30px -10px !important;
    }
}

.vidio-embed {
    height: auto;
}

.read-too {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    margin: 50px 0 25px;
    padding: 0 15px;
}

.read-too a {
    color: #ce0000;
}

.page-number {
    display: flex;
    align-items: center;
    margin: 25px 0 50px;
    padding: 0 15px;
    flex-wrap: wrap;
}

.page-number>p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    flex: 0 0 100%;
    margin-bottom: 10px;
}

.page-number ul {
    display: flex;
    flex: 1;
    margin-left: 0;
}

.page-number ul li {
    margin: 0 3px;
}

.page-number ul li a:hover, .page-number ul li.active a {
    background-color: #ce0000;
    color: #ffffff;
}

.page-number ul li a {
    display: block;
    line-height: 35px;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    background-color: #ececec;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    transition: all .3s ease;
}

.page-number>a {
    font-size: 16px;
    font-weight: 500;
    color: #ce0000;
}

.read-comment *, .read-comment *::after, .read-comment *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.read-comment__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 50px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px !important;
}

.read-comment__nav>li {
    float: left;
    width: 100%;
}

.read-comment__nav>li>a {
    font-family: 'Noto Sans', sans-serif;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    height: 50px;
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    position: relative;
    border-bottom: 2px solid transparent;
    font-weight: 700;
}

.read-comment__nav>li.current>a, .read-comment__nav>li>a:hover {
    color: #333;
    border-color: #fafafa;
}

.read-comment__nav>li>a span.fb-comments-count {
    background-color: #d8d8d8;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 12px;
    color: #000;
    margin-left: 3px;
    margin-top: -3px;
    line-height: 26px;
}

.body-paragraph:last-child {
}

.read-comment__item .tag_label {
    text-transform: uppercase
}

#detail_news #mdk-section-list_photo .content-news-related-r div a {
    line-height: 20px;
}

.widereadpage {
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}

.widereadpage .widereadpage-item .article-figure {
    margin: 0px;
}

.widereadpage .widereadpage-item {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    margin: 30px 15px;
    overflow: hidden;
}

.widereadpage .widereadpage-item .article-figure-ratio {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 50.57576%;
    height: 0
}

.widereadpage .widereadpage-item .article-figure-ratio-video {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 57.57576%;
    height: 0;
}

.widereadpage .widereadpage-item .article-figure-ratio-video.embed {
    margin-left: -5px;
    margin-top: -5px;
    margin-right: -5px;
}

.widereadpage .widereadpage-item .article-figure-ratio>* {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.widereadpage .widereadpage-item .article-description {
    padding: 15px
}

.widereadpage .widereadpage-item .article-description .cat {
    text-transform: uppercase;
    font-size: 11px;
    color: #ce0000;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600
}

.widereadpage .widereadpage-item .article-description p {
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: #212121;
}

.widereadpage .widereadpage-item .article-description p a {
    color: #212121;
}

.infscroll-loader {
    display: block;
    margin: 0 auto;
}

.loader-ellips__dot {
    background: #ce0000 !important;
}

.mdk-body-paragraph figure {
    margin: 0px 10px;
}

.mdk-body-paragraph figure figcaption {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #777;
    line-height: 1.5em;
}

#detail_news .other-photo {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
    background: rgba(205, 32, 39, 0.8);
    font-family: 'Noto Sans', sans-serif;
}

#detail_news .other-photo p {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    padding: 0 15px;
    position: relative;
    padding-right: 45px;
    text-transform: uppercase;
}

#detail_news .other-photo p>span {
    font-size: 12px;
}

#detail_news .other-photo p:after {
    background: url(https://cdns.klimg.com/merdeka.com/media/i/a/arrew-detail-foto-thumb.png) no-repeat;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -11px;
    width: 13px;
    height: 22px;
    content: "";
}

#detail_news #mdk-news_img_det {
    margin: 0 -10px;
    position: relative;
    padding: 0px 10px;
}

#detail_news #mdk-news_img_det>img {
    width: 100%;
    padding-bottom: 5px;
}

#detail_news .new-tag-v2 {
    padding: 0 10px
}

#detail_news .new-tag-v2 .list-new-tag {
    margin: 5px -5px
}

#detail_news .new-tag-v2 .list-new-tag li {
    float: left;
    margin: 5px
}

#detail_news .new-tag-v2 .list-new-tag li h2 {
    font-size: 13px !important;
    color: #333;
    border: 1px solid #333;
    border-radius: 3px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0
}

#detail_news .new-tag-v2 .list-new-tag li h2 a {
    padding: 3px 8px;
    display: table;
    color: #333;
    font-weight: 400
}

#detail_news .title-tag-v2 h5 {
    font-size: 15px;
    font-weight: 700;
    display: table;
    float: left;
    color: #333;
    font-family: 'Noto Sans', sans-serif
}

.mdk-dt-box {
    margin: 30px 0
}

#detail_news .title-tag-v2 .btn-more-tag {
    float: right;
    display: block;
    height: 22px
}

#detail_news .title-tag-v2 .btn-more-tag img {
    width: 20px;
    padding: 0;
    vertical-align: middle;
    margin-top: 8px
}

#detail_news #tag-more li {
    display: none;
}

.disclaimer-comment {
    background-color: #fffaf9;
    border-radius: 4px;
    border: solid 1px #cf302b;
    padding: 15px;
    margin: 0 10px 20px 10px
}

.disclaimer-comment p {
    font-family: 'Noto Sans';
    font-size: 12px !important;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #777 !important;
    padding: 0 !important;
    margin: 0 !important
}

.dont-display a {
    color: #2B67A2;
    margin-bottom: -15px;
    display: block;
}

.mdk-dt-box {
    margin: 30px 0;
}

.title-vl {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
}

.title-vl>a {
    color: #333 !important;
}

.article-box {
    margin-top: 30px;
    padding: 0 5px;
}

.list-new-article li:first-child {
    margin-top: 0;
}

.list-new-article li {
    margin-top: 30px;
    display: table;
}

.list-new-article .list-icon-video {
    position: relative;
}

.list-new-article .deskrip-right, .list-new-article .img-left {
    display: table-cell;
    vertical-align: top;
}

.list-new-article .list-icon-video .icon-video {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -20px;
}

.list-new-article .deskrip-right {
    padding-left: 10px;
}

.list-new-article .deskrip-right p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: -4px;
}

.list-new-article .deskrip-right p>a {
    color: #000;
}

.btn-v3 {
    font-size: 16px;
    color: #333!important;
    border: 1px solid #333;
    padding: 10px 15px;
    display: table;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 30px;
}

.btn-v3>img {
    vertical-align: middle;
    margin-top: -3px;
}

:root {
    --color-primary: #ce0000; --color-gray: #ececec; --color-gray-dark: #595959; --color-gray-light: #dddfe2; --color-black: #000 }

@keyframes loading-placeholder {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(100%)
    }
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    min-height: 30px
}

figure {
    margin: 0;
    padding: 0
}

img {
    border: 0;
    vertical-align: middle
}

img.lazyload:not([src]) {
    visibility: hidden
}

.loading {
    position: relative;
    overflow: hidden;
    background-color: var(--color-gray);
    padding-bottom: 50%;
    z-index: 4
}

.loading::after {
    content: "";
    display: block;
    background-color: var(--color-gray-light);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: 1.5s loading-placeholder ease-in-out infinite;
    pointer-events: none;
    z-index: 0
}

.loading img, .loading iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3
}

.loading img {
    object-fit: cover
}

.lazyload, .lazyloading {
    opacity: 0
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 1.5s
}

.icon-contain {
    object-fit: contain;
    height: auto
}

html, body {
    overflow-x: hidden
}

.widereadpage .widereadpage-item .article-description .cat {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-right: 5px
}

.disclaimer-comment p {
    color: var(--color-gray-dark) !important
}

.tag {
    padding-left: 15px;
    padding-right: 15px
}

.tag__head {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.tag__head h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase
}

.tag__head_btn {
    display: none
}

.tag__list {
    display: flex;
    flex-flow: wrap;
    margin: -5px
}

.tag__list li {
    display: none;
    padding: 5px
}

.tag__list li a {
    font-size: 13px;
    display: block;
    border: 1px solid var(--color-black);
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--color-black)
}

.mdk-news-body.lazyloaded {
    transition-delay: 2s
}

.mdk-news-head h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px
}

.mdk-news-img {
    margin-bottom: 30px
}

.mdk-news-img img {
    height: calc(320 / 640 * 100vw);
}

.mdk-news-img-copyright {
    background-color: var(--color-gray);
    color: var(--color-gray-dark);
    font-size: 12px;
    display: block;
    padding: 5px 15px
}
